@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .logo {
        width: 50px;
        height: 40px;
        margin-left: 20px;
    }

    nav ul li {
        margin: 0 10px;
    }

    .firstsection {
        flex-direction: column;
        margin: 80px 0;
    }

    .firstsection > div {
        width: 90%;
    }

    .leftsection {
        font-size: 1.5rem;
    }

    .leftsection .btn {
        padding: 8px 16px;
    }

    .secondsection {
        height: auto;
    }

    .footer {
        flex-direction: column;
        padding: 20px;
    }

    .footer > div {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .logo {
        width: 60px;
        height: 45px;
        margin-left: 30px;
    }

    nav ul li {
        margin: 0 15px;
    }

    .firstsection {
        flex-direction: column;
        margin: 100px 0;
    }

    .firstsection > div {
        width: 80%;
    }

    .leftsection {
        font-size: 1.8rem;
    }

    .leftsection .btn {
        padding: 10px 18px;
    }

    .secondsection {
        height: auto;
    }

    .footer {
        flex-direction: column;
        padding: 25px;
    }

    .footer > div {
        width: 100%;
        margin-bottom: 15px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        font-size: 18px;
    }

    .logo {
        width: 65px;
        height: 50px;
        margin-left: 40px;
    }

    nav ul li {
        margin: 0 18px;
    }

    .firstsection {
        flex-direction: row;
        margin: 120px 0;
    }

    .firstsection > div {
        width: 40%;
    }

    .leftsection {
        font-size: 2rem;
    }

    .leftsection .btn {
        padding: 12px 20px;
    }

    .secondsection {
        height: 70vh;
    }

    .footer {
        flex-direction: row;
        padding: 30px 100px;
    }

    .footer > div {
        width: 25%;
    }
}
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: #fbf7f7;
    font-family:  'Poppins',Courier, monospace;
   
}

.logo{
    width: 70px;
    height: 50px;
    margin-left: 50px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(6, 6, 54);
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fbf7f7;
}

nav ul li a:hover {
    color: rgb(127, 90, 247);
}

.left{
    font-size: 1.6rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;

}

.firstsection > div{
    width: 30%;
  
}

.leftsection {
   font-size: 2rem;
}

.leftsection .btn{
    padding:  10px 20px;
    background-color: rgb(43, 21, 118);
    border: 2px solid rgb(249, 249, 250);
    color: #fbf7f7;
    border-radius: 4.5px;
    cursor: pointer;
    
}

 .buttons{
    padding: 45px 0;
 }
.rightsection img {
    width: 90%;
    height: 100%;

 }
 .nevyblue{
    color: rgb(60, 12, 215);
}
#element {
    color: rgb(60, 12, 215);
}

.secondsection {
    max-width:80vw;
    margin:auto;
    height:80vh
}

.secondsection h1 {
    font-size: 1.9rem;

}

.text-grey {
    color: rgb(150, 150, 150);
}

.box {
    background-color: white;
    width:77vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.vertical{
     height: 93px;
     width:1px;
     background-color: white;
     margin: 0 110px;
}

.image-top{
    width:25px;
    position: relative;
    top: -32px;
    left: -9px;
}

.vertical-title{
          position: relative;
          top: 75px;
          width:150px;
          font-size:14px;

} 
.vertical-desc{
    top: 86px;
    color: grey;
    width: 150px;
    position: relative;
    font-size:10px;

}
main hr{
    border: 0;
    background-color: rgb(192, 173, 255);
    height:1.2px;
    margin: 40px 84px;
}

footer{
    background-color: rgb(15, 15, 54);
}
.footer{
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer ul{
    list-style: none;

}

.footer > div{
    width: 20%;
}

.footer a{
    text-decoration: none;
    color: #fbf7f7;
}

.footer a:hover{
    color: rgb(127, 90, 247);
}

.footer-text-center{
    text-align: center;
    color: grey;
    padding: 12px 0;
    font-size: 14px;
    margin-top: 20px;
}